<a href="https://colab.research.google.com/github/SharfShiplo/learn_python_01/blob/main/pandas_eCom_books_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Pandas**

In [6]:
import numpy as np

In [7]:
import pandas as pd

In [8]:
import json

**Reading & converting csv file into a DataFrame**

In [9]:
books = pd.read_csv('books.csv')

In [13]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558 entries, 0 to 557
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            558 non-null    object
 1   original_price  522 non-null    float64
 2   sale_price      522 non-null    float64
 3   author          496 non-null    object
 4   author_details  496 non-null    object
 5   details         496 non-null    object
dtypes: float64(2), object(4)
memory usage: 26.3+ KB

In [14]:
filtered_index = books[ (books['sale_price'].isnull()) & (books['details'].isnull()) ].index

In [15]:
books.drop(filtered_index, inplace=True)

In [16]:
books['author'].fillna('The Best Writer In BD', inplace=True)

In [25]:
def convert_str_to_dict(dtl):
  if isinstance(dtl, dict):
    dtl_as_to_json = str(dtl).replace("'", '"')
    return json.loads(dtl_as_to_json)
  elif isinstance(dtl, str):
    return json.loads(dtl.replace("'", '"'))
  else:
     return "This book needs detail info"

In [26]:
books['details'] = books['details'].apply(lambda dtl: convert_str_to_dict(dtl))

**Test**

In [29]:
books['details'].iloc[13]

'This book needs detail info'

In [42]:
def get_publisher(publ):
  if isinstance(publ, dict):
    return publ.get('Publisher')
  else:
    return 'Smart Bengal Publisher'

In [45]:
def get_value_from_details(obj, req_key):
  if req_key in obj:
    return obj.get(req_key)
  else:
    return f"Need to add {req_key} information"

# **Okay**

In [39]:
books['Publisher'] = books['details'].apply(lambda df: get_publisher(df))

In [46]:
books['Country'] = books['details'].apply(lambda df: get_value_from_details(df, 'Country'))

In [48]:
books['Cover'] = books['details'].apply(lambda df: get_value_from_details(df, 'Cover'))

In [50]:
books['Pages'] = books['details'].apply(lambda df: get_value_from_details(df, 'Pages'))

In [52]:
books['author_details'].fillna('Need to add author details', inplace=True)